main
{
    background-color: black;
    color: #A0F239;
    overflow: hidden;
}
.main-header
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header__title
{
    font-size: 89px;
}
.main-header-nav__img
{
    width: auto;
}
.main-header-nav
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 19px;
}